<app-titulo [titulo]="titulo"></app-titulo>

<table class="table">
  <thead class="table-light">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Sigla</th>
      <th scope="col">RG</th>
      <th scope="col">DepartamentoId</th>
    </tr>
    
  </thead>
  <tbody>
    <tr *ngFor="let funcionario of funcionarios">
      <th scope="row">{{funcionario.id}}</th>
      <td>{{funcionario.nome}}</td>
      <td>{{funcionario.rg}}</td>
      <td>{{funcionario.departamentoId}}</td>
    </tr>  
  </tbody>
</table>


